html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Header Styles */
.header {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.banner {
  width: 90%;
  margin: 20px auto 0;
}

.banner img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.49);
}

/* Header Styles */
/* =================== */
/* Main Styles */
.main {
  width: 100%;
  margin-top: 30px;
}

.package-button {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  margin: 10px 5px 5px 0;
}

.button:hover {
  background-color: hsl(217, 71%, 53%) !important;
  color: hsl(0, 0%, 96%) !important;
}

.title {
  width: 100%;
  text-align: center;
}

.hot-pack, .prepaid-pack, .postpaid-pack, .data-pack, .vas-pack, .flexible-pack {
  margin: 0 0 0 20px;
}

.always-visible {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}

.see-more {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  margin-right: 20px;
  position: relative;
  height: 650px;
}

.box:last-child {
  margin-bottom: 24px;
}

.box:nth-last-child(3n-2) {
  margin-right: 20px;
}

.media {
  display: block;
}

.media-content {
  overflow-x: visible;
}

.param {
  margin-bottom: 0 !important;
}

.pack-title {
  text-align: center;
  background-color: #3e8ed0;
  border-radius: 8px;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.pack-name {
  display: inline;
  color: #fff !important;
}

.sub-title {
  width: 50%;
  color: #fff;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px !important;
  border-bottom: 4px solid #fff;;
}

.check {
  color: hsl(217, 71%, 53%);
  margin-right: 10px;
}

.bottom-element {
  border-top: 3px solid #3e8ed0;
  padding-top: 10px;
  position: absolute;
  width: 90%;
  bottom: 20px;
}

.is-4 {
  color: #F54748;
}

.sign-up {
  width: 100%;
  text-align: center;
}

.see-more-button {
  width: 100%;
  text-align: center;
}

.fa-angle-double-down {
  color: #F54748;
}

.fa-angle-double-up {
  color: #F54748;
}

/* Main Styles */
/* =================== */
/* Footer Styles */

.footer {
  margin-top: 30px;
  width: 100%;
  background-color: #3e8ed0;
  color: #fff;
  padding-bottom: 48px;
  /* display: grid;
  grid-template-columns: 50% 30%; */
}

.left-content {
  margin-right: 60px;
}

.right-content {
}

.is-3 {
  text-align: left;
  color: #fff !important;
}

/* Footer Styles */

.sub-active {
  background-color: hsl(217, 71%, 53%) !important;
  color: hsl(0, 0%, 96%) !important;
}
